.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  margin-top: 30px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-grid-column > .swiper-wrapper {
  flex-direction: row;
}

#nft_swiper_wrapper{
  .swiper-slide:nth-of-type(1){
    margin-left: 10%;
  }
  .swiper-slide img{
  }
}