.about img {
  /* background-image: url("../../images/about-shap.png"); */
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.royal {
  color: #c31f83;
}
.pve {
  color: #14a151;
}
