.navbar-nav li:not(.nav-item-no-after) ::after {
  content: url(../../images/icon/start8.png);
  margin-left: 16px;
}
li:nth-child(5) ::after {
  display: none;
}
.nav-link {
  color: white;
  font-size: 16px;
}
.nav-link:hover rect {
  opacity: 1;
}

.nav-item img {
  border: 1px solid #7e7d81;
  margin: 8px;
  padding: 10px;
  border-radius: 20px;
}
.nav-item img:hover {
  border: 1px solid #18a0fb;
}
.wallet {
  width: 226px;
  height: 52px;
  background-color: #322854;
  padding: 9px 28px;
  border-radius: 10px;
  margin: auto;
}

.wallet a {
  text-decoration: none;
  margin-right: 10px;
  font-size: 16px;
}

/* ..........responsive....... */
@media (max-width: 1199px) {
  .navbar-collapse {
    background: rgba(4, 4, 4, 0.95);
    z-index: 1000;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .nav_icon_wrapper {
    margin-top: 25px;
  }
  .icon_nav_link {
    padding: 0px 8px !important;
  }
  .wallet_connection_mobile {
    color: white!important;
    background: #009a0f;
    &::after{
      display: none;
    }
  }
}
