.whitelist {
  text-align: center;
  font-size: 20px;
  padding-top: 470px;
  padding-bottom: 50px;
}
#banner_section{
  background: url('../../images/banner-img/banner_star.png') center/100% 100% no-repeat;
}
.banner-title {
  position: absolute;
  width: 623px;
  height: 172px;
  left: 300px;
  top: 215px;
  font-weight: 800;
  font-size: 144px;
  line-height: 172px;
  color: #fff;
  text-align: left;
  padding: 10px 70px;
  background: url('../../images/banner-img/title_banner.png') center / contain no-repeat;
}
.banner-title1 {
  position: absolute;
  width: 982px;
  left: 160px;
  top: 380px;
  font-weight: 800;
  font-size: 96px;
  line-height: 115px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff14b1;
}
.whitelist p {
  color: #fff;
  font-size: 20px;
}
.condition {
  text-decoration: none;
  border-bottom: 3px solid #fff;
  padding: 5px;
}

.banner-img {
  position: absolute;
  left: 188px;
  top: 167px;
  background-image: url("../../images/banner-img/shap1.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.banner-img1 {
  position: absolute;
  left: 158px;
  top: 501px;
  background-image: url("../../images/banner-img/shap2.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.banner-img2 {
  position: absolute;
  right: 109px;
  top: 210px;
  background-image: url("../../images/banner-img/shap3.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.banner-img3 {
  position: absolute;
  right: 367px;
  top: 539px;
  background-image: url("../../images/banner-img/shap4.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.banner-img4 {
  position: absolute;
  right: 100px;
  top: 514px;
  background-image: url("../../images/banner-img/shap5.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
